.main{
	height:980px;
	width:950px;
	margin-left:200px;
	border:2px solid gray;
}
.main1{
	margin-left:20px;
	margin-top:10px;
	font-size:40px;
	
}
.main2{
	color:gray;
	margin-left:20px;
	margin-top:-30px;
	font-size:15px;
	
}
.main3{
	margin-left:680px;
	margin-top:-30px;
	font-size:25px;
}
.main4{
	margin-left:800px;
	margin-top:-25px;
	font-size:25px;
}
ul
{
	background:skyblue;
	width:885px;
	margin-left:10px;
	border-radius:5px;
}
ul li
{
	display:inline-block;
	padding:10px 0px 10x;
	margin:10px;
}
ul li a{
	text-decoration:none;
	color:black;
	font-size:20px;
	padding:10px;
}
ul li a:hover
{
	background:white;
}
.main5{
	height:350px;
	width:925px;
	margin-left:10px;
	margin-top:10px;
}
.main6{
	background:white;
	height:280px;
	width:450px;
	margin-left:450px;
	margin-top:-320px;
	border-radius:10px;
	position:relative;
	opacity:0.7;
}
.main7{
	margin-left:470px;
	margin-top:-290px;
	position:relative;
}
.main8{
	margin-left:470px;
	margin-top:-10px;
	position:relative;
	font-size:15px;
}
.main9{
	background:black;
	height:30px;
	width:90px;
	margin-left:470px;
	border-radius:5px;
	position:relative;
}
.main10{
	color:white;
	margin-left:480px;
	margin-top:-45px;
	position:relative;
	font-size:15px;
}
.main11{
	margin-left:10px;
	font-size:25px;
	margin-top:100px;
}
.main12{
	margin-left:10px;
	font-size:15px;
	margin-top:-10px;
}
.main13{
	margin-left:490px;
	font-size:25px;
	margin-top:-110px;
}
.main14{
	height:100px;
	width:445px;
	margin-left:490px;
	margin-top:-5px;
}
.main15{
	margin-left:10px;
	margin-top:-5px;
	font-size:25px;
}
.main16{
	margin-left:490px;
	margin-top:-30px;
	font-size:15px;
}
.main17{
	margin-left:10px;
	font-size:15px;
	margin-top:-20px;	
}	
.main18{
	margin-left:490px;
	font-size:25px;
	margin-top:-55px;	
}
.main19{
	height:100px;
	width:445px;
	margin-left:490px;
}
.main20{
	margin-left:10px;
	margin-top:-65px;
	font-size:25px;
}	
.main21{
	margin-left:490px;
	margin-top:-40px;
	font-size:15px;
}