.main{
    background:black;
	height:70px;
	width:900px;
	margin-left:230px;
}
.main1{
	color:white;
	padding:15px;
}
ul
{
	background:black;
	width:460px;
	margin-left:400px;
	margin-top:-70px;
	border-radius:5px;
}
ul li
{
	display:inline-block;
	margin:10px;
}
ul li a{
	text-decoration:none;
	color:white;
	font-size:15px;
}
ul li a:hover
{
	color:yellow;
}
.main2{
    background:gray;
	height:700px;
	width:900px;
    margin-top:-5px;
}
.main3{
	height:350px;
	width:865px;
    margin-top:-722px;
	margin-left:16px;
	
}
.main4{
    background:white;
	height:350px;
	width:865px;
	margin-top:-405px;
	margin-left:16px;
	position:relative;
}
.main5{
	color:black;
	margin-left:35px;
	margin-top:-360px;
	position:relative;
}
.main6{
	color:black;
	margin-left:315px;
	margin-top:-52px;
	position:relative;
}
.main7{
	color:black;
	margin-left:600px;
	margin-top:-52px;
	position:relative;
}
.main8{
	position:relative;
	height:140px;
	width:260px;
	margin-left:35px;
	margin-top:-15px;
}
.main9{
	position:relative;
	height:140px;
	width:260px;
	margin-top:-15px;
	margin-left:18px;
}
.main10{
	margin-top:-15px;
	position:relative;
	height:140px;
	width:260px;
	margin-left:18px;
}
.main11{
	position:relative;
	color:black;
	margin-left:35px;
	font-size:15px;
}
.main12{
	position:relative;
	color:black;
	margin-left:320px;
	margin-top:-130px;
	font-size:15px;
}
.main13{
	position:relative;
	color:black;
	margin-left:600px;
	margin-top:-130px;
	font-size:15px;
}